Repository NikaPuturidze/alta-store: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, pnpm exec eslint --fix, pnpm exec eslint, prettier --write

.lintstagedrc:

{
  "*.ts": ["prettier --parser typescript --write", "pnpm exec eslint --fix"],
  "*.js": ["pnpm exec eslint --fix"],
  "*.cjs": ["pnpm exec eslint"],
  "*.json": "prettier --write"
}

feat: add tanstack query
  pnpm-lock.yaml
  webapp/package.json
  webapp/src/hooks/useFetch.ts
  webapp/src/layouts/BasicLayout/footer/view/index.tsx
  webapp/src/layouts/BasicLayout/header/view/index.tsx
  webapp/src/main.tsx
  webapp/src/pages/Filter/context/FilterProvider.tsx
  webapp/src/pages/Filter/services/getFIlter.ts
  webapp/src/pages/Filter/services/getProducts.ts
  webapp/src/pages/Main/view/index.tsx
  webapp/src/queryClient.ts
  webapp/src/styles/globals.css
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

ui: add overflow hidden on body
  webapp/src/styles/globals.css
Due: none

perf: prevent duplicate calls of get-products endpoint
  webapp/src/pages/Filter/context/FilterProvider.tsx
Due: none

chore: add tsx support for lintstaged
  .lintstagedrc
Due: none

ui: font adjustment
  webapp/public/fonts/158a5b5cee324fb8-s.p.otf
  webapp/public/fonts/4751bb148477e31c-s.p.otf
  webapp/public/fonts/70b75ad00960e9db-s.p.otf
  webapp/public/fonts/76d7d7c5eeefb852-s.p.otf
  webapp/public/fonts/e1689dbe909aa6ef-s.p.otf
  webapp/public/fonts/e2542b709b225903-s.p.otf
  webapp/public/fonts/e6d6a18e22e2b8d8-s.p.otf
  webapp/src/styles/globals.css
Due: none

feat: add breadcrumb component
  webapp/public/locales/en/translation.json
  webapp/public/locales/ka/translation.json
  webapp/src/pages/Filter/components/breadcrumb/breadcrumb.tsx
  webapp/src/pages/Filter/components/breadcrumb/style.ts
  webapp/src/pages/Filter/context/FilterProvider.tsx
  webapp/src/pages/Filter/view/components/Content/index.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

feat: add topic pages
  pnpm-lock.yaml
  webapp/package.json
  webapp/src/layouts/BasicLayout/footer/view/index.tsx
  webapp/src/pages/Topic/components/Content/index.tsx
  webapp/src/pages/Topic/components/Content/style.ts
  webapp/src/pages/Topic/components/Title/index.tsx
  webapp/src/pages/Topic/components/Title/style.ts
  webapp/src/pages/Topic/context/TopicProvider.tsx
  webapp/src/pages/Topic/index.tsx
  webapp/src/pages/Topic/interfaces/getTopics.interface.ts
  webapp/src/pages/Topic/services/getTopics.ts
  webapp/src/pages/Topic/view/index.tsx
  webapp/src/router/index.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

ui: adjsutments
  webapp/src/layouts/BasicLayout/footer/view/index.tsx
  webapp/src/pages/Topic/components/Content/index.tsx
  webapp/src/pages/Topic/components/Content/style.ts
  webapp/src/styles/globals.css
Due: prettier --parser typescript --write, pnpm exec eslint --fix

refactor: unknown dom element name
  webapp/src/pages/Filter/components/breadcrumb/breadcrumb.tsx
Due: none
