Repository NikaPuturidze/alta-store: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

feat: add header
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  webapp/index.html
  webapp/package.json
  webapp/public/fonts/76d7d7c5eeefb852-s.p.otf
  webapp/public/locales/en/translation.json
  webapp/public/locales/ka/translation.json
  webapp/public/vite.svg
  webapp/src/App.css
  webapp/src/App.tsx
  webapp/src/assets/react.svg
  webapp/src/i18n/i18n.ts
  webapp/src/index.css
  webapp/src/layouts/BasicLayout/header/index.tsx
  webapp/src/layouts/BasicLayout/header/style.ts
  webapp/src/layouts/BasicLayout/index.tsx
  webapp/src/layouts/BasicLayout/style.ts
  webapp/src/main.tsx
  webapp/src/styles/globals.css
  webapp/src/styles/variables.css
  webapp/src/styles/wrapper.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

feat: add cors policy
  proxy/proxy.js
Due: pnpm exec eslint --fix

feat: add extra headers support
  proxy/proxy.js
Due: pnpm exec eslint --fix

feat: add footer
  pnpm-lock.yaml
  webapp/package.json
  webapp/public/locales/en/translation.json
  webapp/public/locales/ka/translation.json
  webapp/src/hooks/useFetch.ts
  webapp/src/layouts/BasicLayout/footer/services/footer/getFooter.interface.ts
  webapp/src/layouts/BasicLayout/footer/services/footer/getFooter.ts
  webapp/src/layouts/BasicLayout/footer/view/index.tsx
  webapp/src/layouts/BasicLayout/footer/view/style.ts
  webapp/src/layouts/BasicLayout/header/view/index.tsx
  webapp/src/layouts/BasicLayout/header/view/style.ts
  webapp/src/layouts/BasicLayout/index.tsx
  webapp/src/layouts/BasicLayout/style.ts
  webapp/src/layouts/BasicLayout/view/index.tsx
  webapp/src/layouts/BasicLayout/view/style.ts
  webapp/src/main.tsx
  webapp/src/styles/globals.css
  webapp/src/utils/api/api.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

refactor: project restructurizing
  webapp/src/layouts/BasicLayout/footer/view/getIcons.ts
  webapp/src/layouts/BasicLayout/index.tsx
  webapp/src/layouts/BasicLayout/style.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

fix: import path adjustments
  webapp/src/main.tsx
Due: none

feat: add promotion swiper section and routing
  pnpm-lock.yaml
  webapp/package.json
  webapp/src/hooks/useFetch.ts
  webapp/src/layouts/BasicLayout/footer/interfaces/getFooter.interface.ts
  webapp/src/layouts/BasicLayout/footer/services/footer/getFooter.ts
  webapp/src/layouts/BasicLayout/footer/services/getFooter.ts
  webapp/src/layouts/BasicLayout/footer/view/index.tsx
  webapp/src/main.tsx
  webapp/src/pages/Main/index.tsx
  webapp/src/pages/Main/interfaces/getContent.interface.ts
  webapp/src/pages/Main/services/getContent.ts
  webapp/src/pages/Main/view/components/PromotionSlider.tsx
  webapp/src/pages/Main/view/components/style.ts
  webapp/src/pages/Main/view/index.tsx
  webapp/src/router/index.tsx
  webapp/src/styles/variables.css
  webapp/src/swiper.d.ts
  webapp/src/utils/axiosInstance.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

feat: add autoplay on swiper
  webapp/src/pages/Main/view/components/PromotionSlider.tsx
Due: none

feat: add navbar and improved swiper
  webapp/public/locales/en/translation.json
  webapp/public/locales/ka/translation.json
  webapp/src/layouts/BasicLayout/header/view/index.tsx
  webapp/src/layouts/BasicLayout/header/view/style.ts
  webapp/src/main.tsx
  webapp/src/pages/Main/view/components/style.ts
  webapp/src/router/index.tsx
  webapp/src/styles/variables.css
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

feat: add double banner section
  webapp/src/pages/Main/types.ts
  webapp/src/pages/Main/view/components/DoubleSection/DoubleBanner.tsx
  webapp/src/pages/Main/view/components/DoubleSection/style.ts
  webapp/src/pages/Main/view/components/PromotionSlider/PromotionSlider.tsx
  webapp/src/pages/Main/view/components/PromotionSlider/style.ts
  webapp/src/pages/Main/view/index.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add mega menu section
  webapp/src/pages/Main/interfaces/getContent.interface.ts
  webapp/src/pages/Main/view/components/MegaMenu/MegaMenu.tsx
  webapp/src/pages/Main/view/components/MegaMenu/style.ts
  webapp/src/pages/Main/view/index.tsx
  webapp/src/styles/globals.css
  webapp/src/styles/wrapper.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

chore: new font files
  webapp/public/fonts/4751bb148477e31c-s.p.otf
  webapp/public/fonts/e6d6a18e22e2b8d8-s.p.otf
  webapp/src/styles/globals.css
Due: none

chore: prettier config change
  .prettierrc
Due: none

feat: add only online section
  webapp/public/locales/en/translation.json
  webapp/public/locales/ka/translation.json
  webapp/src/components/ProductCard/ProductCard.tsx
  webapp/src/components/ProductCard/style.ts
  webapp/src/pages/Main/interfaces/getContent.interface.ts
  webapp/src/pages/Main/view/components/OnlyOnline/OnlyOnline.tsx
  webapp/src/pages/Main/view/components/OnlyOnline/style.ts
  webapp/src/pages/Main/view/index.tsx
  webapp/src/styles/variables.css
  webapp/src/styles/wrapper.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

refactor: make component strucuture more scalable
  webapp/src/pages/Main/view/components/DoubleSection/index.tsx
  webapp/src/pages/Main/view/components/MegaMenu/index.tsx
  webapp/src/pages/Main/view/components/OnlyOnline/index.tsx
  webapp/src/pages/Main/view/components/PromotionSlider/index.tsx
  webapp/src/pages/Main/view/index.tsx
Due: none

style: add more generic
  webapp/src/pages/Main/view/components/DoubleSection/index.tsx
  webapp/src/pages/Main/view/components/DoubleSection/style.ts
  webapp/src/pages/Main/view/components/MegaMenu/index.tsx
  webapp/src/pages/Main/view/components/MegaMenu/style.ts
  webapp/src/pages/Main/view/components/OnlyOnline/index.tsx
  webapp/src/pages/Main/view/components/OnlyOnline/style.ts
  webapp/src/pages/Main/view/components/style.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add single section
  webapp/src/pages/Main/view/components/SingleSection/index.tsx
  webapp/src/pages/Main/view/components/SingleSection/style.ts
  webapp/src/pages/Main/view/components/style.ts
  webapp/src/pages/Main/view/index.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix

refactor: extract isdesktop in reusable hook
  webapp/src/hooks/useIsDesktop.ts
  webapp/src/pages/Main/view/components/OnlyOnline/index.tsx
  webapp/src/pages/Main/view/components/SingleSection/index.tsx
  webapp/src/pages/Main/view/components/SingleSection/style.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add grid first section
  webapp/src/pages/Main/view/components/GridFirstSection/index.tsx
  webapp/src/pages/Main/view/components/GridFirstSection/style.ts
  webapp/src/pages/Main/view/index.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix

refactor: extract title
  webapp/src/pages/Main/view/components/GridFirstSection/index.tsx
  webapp/src/pages/Main/view/components/GridFirstSection/style.ts
  webapp/src/pages/Main/view/components/MegaMenu/index.tsx
  webapp/src/pages/Main/view/components/MegaMenu/style.ts
  webapp/src/pages/Main/view/components/OnlyOnline/index.tsx
  webapp/src/pages/Main/view/components/OnlyOnline/style.ts
  webapp/src/pages/Main/view/components/style.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

fix: improve of swiper behaviour
  webapp/src/pages/Main/view/components/OnlyOnline/index.tsx
  webapp/src/pages/Main/view/components/OnlyOnline/style.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add brands section
  webapp/src/pages/Main/interfaces/getContent.interface.ts
  webapp/src/pages/Main/view/components/BrandsSection/index.tsx
  webapp/src/pages/Main/view/components/BrandsSection/style.ts
  webapp/src/pages/Main/view/index.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add grid second section
  webapp/src/pages/Main/view/components/GridSecondSection/index.tsx
  webapp/src/pages/Main/view/components/GridSecondSection/style.ts
  webapp/src/pages/Main/view/index.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add recommend section
  webapp/public/locales/en/translation.json
  webapp/public/locales/ka/translation.json
  webapp/src/pages/Main/view/components/RecommendSection/index.tsx
  webapp/src/pages/Main/view/components/RecommendSection/style.ts
  webapp/src/pages/Main/view/index.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

refactor: using title from backend
  webapp/public/locales/en/translation.json
  webapp/public/locales/ka/translation.json
  webapp/src/pages/Main/view/components/BrandsSection/index.tsx
  webapp/src/pages/Main/view/components/GridFirstSection/index.tsx
  webapp/src/pages/Main/view/components/GridSecondSection/index.tsx
  webapp/src/pages/Main/view/components/MegaMenu/index.tsx
  webapp/src/pages/Main/view/components/OnlyOnline/index.tsx
  webapp/src/pages/Main/view/components/RecommendSection/index.tsx
  webapp/src/pages/Main/view/index.tsx
Due: prettier --write

style: improve responsivness
  webapp/src/pages/Main/view/components/DoubleSection/index.tsx
  webapp/src/pages/Main/view/components/DoubleSection/style.ts
  webapp/src/pages/Main/view/components/GridSecondSection/style.ts
  webapp/src/pages/Main/view/components/PromotionSlider/index.tsx
  webapp/src/pages/Main/view/components/PromotionSlider/style.ts
  webapp/src/styles/variables.css
Due: prettier --parser typescript --write, pnpm exec eslint --fix

refactor: extract generic slider
  webapp/src/components/ProductCard/style.ts
  webapp/src/pages/Main/view/components/GeneralSlider/index.tsx
  webapp/src/pages/Main/view/components/GeneralSlider/style.ts
  webapp/src/pages/Main/view/components/OnlyOnline/index.tsx
  webapp/src/pages/Main/view/components/RecommendSection/style.ts
  webapp/src/pages/Main/view/index.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add blog section
  webapp/public/locales/en/translation.json
  webapp/public/locales/ka/translation.json
  webapp/src/pages/Main/interfaces/getBlog.interface.ts
  webapp/src/pages/Main/services/getBlog.ts
  webapp/src/pages/Main/types.ts
  webapp/src/pages/Main/view/components/Blog/index.tsx
  webapp/src/pages/Main/view/components/Blog/style.ts
  webapp/src/pages/Main/view/index.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

feat: sections unhardcoded
  webapp/src/pages/Main/types.ts
  webapp/src/pages/Main/view/components/Blog/index.tsx
  webapp/src/pages/Main/view/components/Blog/style.ts
  webapp/src/pages/Main/view/index.tsx
Due: prettier --parser typescript --write, pnpm exec eslint --fix

style: adjust to original
  webapp/src/components/ProductCard/style.ts
  webapp/src/pages/Main/view/components/Blog/index.tsx
  webapp/src/pages/Main/view/components/BrandsSection/index.tsx
  webapp/src/pages/Main/view/components/DoubleSection/style.ts
  webapp/src/pages/Main/view/components/GeneralSlider/index.tsx
  webapp/src/pages/Main/view/components/GeneralSlider/style.ts
  webapp/src/pages/Main/view/components/GridFirstSection/index.tsx
  webapp/src/pages/Main/view/components/GridSecondSection/index.tsx
  webapp/src/pages/Main/view/components/style.ts
  webapp/src/styles/variables.css
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: another adjustments
  webapp/public/locales/ka/translation.json
  webapp/src/layouts/BasicLayout/footer/view/getIcons.ts
  webapp/src/layouts/BasicLayout/footer/view/index.tsx
  webapp/src/pages/Main/view/components/Blog/index.tsx
  webapp/src/pages/Main/view/components/Blog/style.ts
  webapp/src/pages/Main/view/components/BrandsSection/style.ts
  webapp/src/pages/Main/view/components/DoubleSection/style.ts
  webapp/src/pages/Main/view/components/GeneralSlider/style.ts
  webapp/src/pages/Main/view/index.tsx
  webapp/src/styles/globals.css
  webapp/src/styles/variables.css
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

refactor: section to div
  webapp/src/pages/Main/view/components/style.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add category menu
  pnpm-lock.yaml
  webapp/package.json
  webapp/src/layouts/BasicLayout/header/interfaces/getCategories.interface.ts
  webapp/src/layouts/BasicLayout/header/services/getCategories.ts
  webapp/src/layouts/BasicLayout/header/view/hardcodedHeight.ts
  webapp/src/layouts/BasicLayout/header/view/index.tsx
  webapp/src/layouts/BasicLayout/header/view/style.ts
  webapp/src/pages/Main/services/getBlog.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

feat: add link to home
  webapp/src/layouts/BasicLayout/header/view/index.tsx
  webapp/src/layouts/BasicLayout/header/view/style.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add generic hover purple component
  webapp/src/layouts/BasicLayout/header/view/index.tsx
  webapp/src/layouts/BasicLayout/header/view/style.ts
  webapp/src/styles/hover-purple.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add scale on double banner
  webapp/src/pages/Main/view/components/DoubleSection/style.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add hover on product card and mega menu
  webapp/src/components/ProductCard/ProductCard.tsx
  webapp/src/pages/Main/view/components/MegaMenu/style.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

style: add dark hover on grids
  webapp/src/pages/Main/view/components/GridFirstSection/style.ts
  webapp/src/pages/Main/view/components/GridSecondSection/style.ts
Due: prettier --parser typescript --write, pnpm exec eslint --fix

feat: add products filter component with price filter
  pnpm-lock.yaml
  webapp/package.json
  webapp/public/locales/en/translation.json
  webapp/public/locales/ka/translation.json
  webapp/src/hooks/useFetch.ts
  webapp/src/pages/Filter/context/FilterProvider.tsx
  webapp/src/pages/Filter/index.tsx
  webapp/src/pages/Filter/interfaces/get-filter.interface.ts
  webapp/src/pages/Filter/interfaces/get-products.interface.ts
  webapp/src/pages/Filter/services/getFIlter.ts
  webapp/src/pages/Filter/services/getProducts.ts
  webapp/src/pages/Filter/view/components/Aside/index.tsx
  webapp/src/pages/Filter/view/components/Aside/style.ts
  webapp/src/pages/Filter/view/components/Content/index.tsx
  webapp/src/pages/Filter/view/components/Content/style.ts
  webapp/src/pages/Filter/view/index.tsx
  webapp/src/pages/Filter/view/style.ts
  webapp/src/router/index.tsx
  webapp/src/utils/getCatId.ts
  webapp/tsconfig.app.json
Due: prettier --parser typescript --write, pnpm exec eslint --fix, prettier --write

lint: commitlint and lintstage update
  .lintstagedrc
  commitlint.config.cjs
Due: none

Path conditions:
  prettier --parser typescript --write: any of: *.ts
  pnpm exec eslint --fix: (any of: *.ts) or (any of: *.js)
  prettier --write: any of: *.json
